*.so filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppAnalytics.bundle filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppApp-9_6_0.bundle filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
Assets/Firebase/Plugins/x86_64/FirebaseCppMessaging.bundle filter=lfs diff=lfs merge=lfs -text
*.srcaar filter=lfs diff=lfs merge=lfs -text
*.a filter=lfs diff=lfs merge=lfs -text
